.hide { display: none; }

.postbox .update-nag {
    margin: 0 10px 0 10px;
}

.picker {
    position: absolute;
    z-index: 1000;
    margin-left: 200px;
    margin-top: -40px;
    display: none;
}
label {
    cursor: pointer;
    padding-right: 6px;
}
/* TODO: fix dumb ats.css default */
label.checkbox {
    width: auto;
    font-weight: normal;
    display: inline;
    padding-left: 2px;
}
table.layout {
    padding: 0;
    margin: 0;
    border-spacing: 0;
    width: 100%;
}

.jobscore-manager table.layout #options-pane,
.jobscore-manager table.layout #options-pane .postbox-container {
    width: 570px;
}

table.layout table {
    padding: 0;
    margin: 0;
    width: 100%;
}
table.options td { padding: 5px }
table.options td:first-child {
    text-align: right;
    padding-top: 9px;
    padding-left: 0;
    width: 195px;
    vertical-align: top;
}
table.options td:last-child {
    padding-right: 0;
}

table.options td em {
    font-size: 12px;
}

table.options td#advanced-filtering-message {
    padding-top: 4px;
}

table.options td span.form-error.active {
    padding-left: 35px;
    color: #FF0000;
    display: inline-block;
}

table.options td span.form-error {
    display: none;
}

table.options td:first-child.break-line {
    display: table-cell;
    padding: 0;
}

table.options td #proxy-css-url {
    width: 100%;
}

.code-button-container {
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 0;
    text-align: right;
    width: 195px;
}
.expand-button { display: none }
.collapse-button { }
.section-body { position: relative }
.section-collapsed { display: none }
.clickable { cursor: pointer }
.semi-transparent {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.6)";
    filter: alpha(opacity=0.6);
    -webkit-opacity: 0.6;
    opacity: 0.6;
}
.message {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    padding-top: 40px;
    height: auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1.0)";
    filter: alpha(opacity=1.0);
    -webkit-opacity: 1.0;
    opacity: 1.0;
    transition: opacity .25s ease-in;
    -webkit-transition: opacity .25s ease-in;
    z-index: 3000;
}

.opacity-hidden {
    height: 0 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
    filter: alpha(opacity=0) !important;
    -webkit-opacity: 0 !important;
    opacity: 0 !important;
}
textarea { border: none }
.wrap img { vertical-align: middle }

.wp-admin .jobscore-manager select {
    min-width: 160px;
    max-width: 330px;
}

.wp-admin .jobscore-manager select#proxy-font-size {
    min-width: 60px;
}

.wp-admin .jobscore-manager select#proxy-font-family {
    width: 184px;
}

.wp-admin .jobscore-manager .top-controls {
    padding: 17px 0;
    position: absolute;
    top: 0;
    right: 22px;
}

.wp-admin .jobscore-manager #ajax-message {
    position: relative;
    display: none;
}

.wp-admin .jobscore-manager .postbox .hndle {
    cursor: default;
}

.wp-admin.wp-core-ui .jobscore-manager .top-controls a {
    line-height: 28px;
}
